body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('Untitled .png');
    background-size: cover;
   backdrop-filter: blur(1px);

}
#headings{
    padding-top: 10%;
    text-align: center;
    color: rgb(136, 130, 136);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 100px;}

#btns {
    padding-top: 3%;
    text-align: center;
   border-color: rgb(166, 115, 166);
font-family: Arial, Helvetica, sans-serif;
font-size: 100px;

}
button {
    background-color: rgb(166, 115, 166);
    color: white;
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
}
button:hover {
    background-color: #9767a0;
    transform: scale(1.05);
}
#laps{

    padding-top: 2%;
    padding-left: 20%;
    color: rgb(136, 130, 136);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
}
